* {
    margin: 0px;
    padding:0px;
}

html {
    background-color: #000000;
}

#output {
    width:100%;
    height: 10px;
    color: #aaaaaa;
    background-color: #000000;
    font-family: "Courier New";
    font-size: 12px;
    border: none;
}
