* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #aaaaaa;
    overflow: hidden;
}

#output {
    width:100%;
    height: 10px;
    color: #101010;
    background-color: #aaaaaa;
    font-family: "Courier New";
    font-size: 12px;
    border: none;
}

#info {
        position: absolute;
        top: 0px; width: 100%;
        color: #808080;
        padding: 5px;
        font-family: “helvetica neue”, helvetica, arial, sans-serif;
        font-size: 13px;
        text-align: center;
}

#info2 {
        position: absolute;
        bottom: 0px; width: 100%;
        color: #101010;
        padding: 5px;
        font-family: “helvetica neue”, helvetica, arial, sans-serif;
        font-size: 13px;
        text-align: center;
}

a {
        color: #000;
        text-decoration: none;
}

a:hover {
        color: #cbc407;
}
